html {
  font-size: $font-size;
  overflow-y: scroll;
}

body {
  font-size: $font-size;
  font-family: $font-main;
}

a {
  color: $color-primary;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

h1 {
  font-family: $font-header;
  font-size: 3rem;

  @include md-min {
    margin: -7.5px 0 45px;
  }

  @include sm-min {
    margin: 52.5px 0 45px;
  }

  @include xs-min {
    margin: 50.5px 0 45px;
  }

  &::after {
    @extend %after-title;
  }
}

h2 {
  font-family: $font-header;
  font-size: 2.5rem;
  margin: ($gap * 4) 0 ($gap * 3) ($gap * 3);

  &::before {
    content: "";
    position: absolute;
    width: $gap * 2;
    border-bottom: 3px solid rgba($color-accent, 0.5);
    margin: 0.25em 0 0 0;
    left: 0;
  }

  &::after {
    @extend %after-title;
  }
}

h3 {
}

section {
  position: relative;
  overflow: hidden;
}
