.header {
  @extend %margin-bottom-lg;
}

.header-logo {
  padding-bottom: 100px;
  padding-top: 100px;
  text-align: center;
  background-color: $color-dark;
  background-image: url(../img/header-bg.jpg);
  background-position: center;
  background-size: cover;

  &__title {
    display: block;
    color: $color-accent;
    font-family: $font-header;
    @extend %text-shadow;

    @include xs-min {
      font-size: 3.5rem;
      letter-spacing: 0.33em;
      margin-right: -1rem;
    }

    @include xs {
      letter-spacing: 0.2em;
      font-size: 2.5rem;
    }
  }

  &__description {
    display: block;
    color: $color-light;
    font-size: 1.15rem;
    letter-spacing: 0.2em;

    @extend %text-shadow;
  }
}
