.main {
  @extend %margin-bottom-lg;

  .site-search {
    margin-bottom: $gap * 3;
  }
}

.new-films,
.top-week {
  &-row {
    margin-right: -$gap / 2;
    margin-left: -$gap / 2;
    margin-bottom: -$gap;
  }
  &-item {
    padding-left: $gap / 2;
    padding-right: $gap / 2;
    margin-bottom: $gap;

    &__thumbnail {
      margin-bottom: 0;
    }

    &__title {
      font-size: 1rem;
      font-weight: bold;
      text-align: center;
      margin-top: 0;
      margin-bottom: 0;
    }

    &__image {
      width: 100%;
    }

    &__caption {
      overflow: hidden;
      white-space: nowrap;
    }

    &:hover,
    &:focus {
      .thumbnail {
        background-color: $color-accent;
      }

      h3 {
        color: $color-light;
      }
    }
  }
}

.movie-news {
  &-item {
    &__thumbnail {
      transition: 0.3s;
      margin-bottom: 0;
    }

    &__link {
      transition: color 0.3s;
    }

    &__image {
      width: 100%;
    }

    &__text {
      text-align: justify;
    }

    &__button {
      float: right;
      margin-bottom: $gap * 2;
      transition: 0.3s;
    }

    &:hover {
      a {
        color: $color-accent;
      }

      .thumbnail {
        background-color: $color-accent;
        border-color: $color-accent;
      }

      .btn-warning {
        background-color: $color-accent;
        color: $color-light;
      }
    }
  }
}

.film-info {
  font-size: 1.2rem;

  &__well {
    text-align: center;

    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &__wrapper {
    white-space: nowrap;

    &:not(:last-of-type) {
      margin-right: $gap;
    }
  }

  &__badge {
    font-size: 0.96rem;
  }
}
