.header-logo__title, .header-logo__description {
  text-shadow: 0 0 5px #000000, 0 0 20px #000000;
}

.header, .main, .left-sidebar {
  margin-bottom: 80px;
}

h1::after, h2::after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 3px solid rgba(223, 138, 19, 0.5);
  margin: 0.85em 0 0 15px;
}

.navbar-inverse {
  background-color: #191919;
  border-color: transparent;
  margin-bottom: 0;
}

.navbar-inverse .navbar-nav > li > a {
  -webkit-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  background-color: #165690;
}

.navbar-inverse .navbar-nav > .active > a {
  background-color: #063056;
}

.navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #5182AE;
}

.navbar-header {
  text-align: center;
}

.navbar-toggle {
  float: none;
  margin-right: 0;
}

.panel {
  border: none;
  background-color: #ededed;
}

.panel:not(:last-of-type) {
  margin-bottom: 30px;
}

.panel:last-of-type {
  margin-bottom: 0;
}

.panel-body {
  border: 1px solid #dddddd;
}

.panel > .panel-heading {
  color: #ffffff;
  background-color: #df8a13;
  border-color: #df8a13;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  font-size: 1.2rem;
}

.input-lg,
.input-group-lg > .form-control {
  font-size: 0.875rem;
}

.thumbnail {
  -webkit-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

html {
  font-size: 16px;
  overflow-y: scroll;
}

body {
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
}

a {
  color: #165690;
}

a:hover, a:focus {
  text-decoration: none;
}

h1 {
  font-family: "PT Serif", serif;
  font-size: 3rem;
  margin: -7.5px 0 45px;
}

h2 {
  font-family: "PT Serif", serif;
  font-size: 2.5rem;
  margin: 1em 0 1em 45px;
}

h2::before {
  content: "";
  position: absolute;
  width: 30px;
  border-bottom: 3px solid rgba(223, 138, 19, 0.5);
  margin: 0.25em 0 0 0;
  left: 0;
}

section {
  position: relative;
  overflow: hidden;
}

.header-logo {
  padding-bottom: 100px;
  padding-top: 100px;
  text-align: center;
  background-color: #232323;
  background-image: url(../img/header-bg.jpg);
  background-position: center;
  background-size: cover;
}

.header-logo__title {
  display: block;
  color: #df8a13;
  font-family: "PT Serif", serif;
}

.header-logo__description {
  display: block;
  color: #ffffff;
  font-size: 1.15rem;
  letter-spacing: 0.2em;
}

.new-films-row,
.top-films-row {
  margin-right: -7.5px;
  margin-left: -7.5px;
  margin-bottom: -15px;
}

.new-films-item,
.top-films-item {
  padding-left: 7.5px;
  padding-right: 7.5px;
  margin-bottom: 15px;
}

.new-films-item__thumbnail,
.top-films-item__thumbnail {
  margin-bottom: 0;
}

.new-films-item__title,
.top-films-item__title {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.movie-news-item__thumbnail {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.movie-news-item__link {
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.movie-news-item__image {
  width: 100%;
}

.movie-news-item__text {
  text-align: justify;
}

.movie-news-item__button {
  float: right;
  margin-bottom: 30px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.movie-news-item:hover a {
  color: #df8a13;
}

.movie-news-item:hover .thumbnail {
  background-color: #df8a13;
  border-color: #df8a13;
}

.movie-news-item:hover .btn-warning {
  background-color: #df8a13;
  color: #ffffff;
}

.vertical-slider {
  border-radius: 4px;
  overflow: hidden;
}

.vertical-slider__image {
  width: 100%;
}

.user-login {
  position: relative;
}

.user-login__tabs {
  position: absolute;
  top: 0;
  right: 15px;
  border: none;
  margin-right: -5px;
}

.user-login__tabs a {
  border: none !important;
  background-color: transparent !important;
  color: #dddddd;
  padding: 14px 5px 12px !important;
}

.user-login__tabs .active a {
  color: #ffffff !important;
}

.site-news-item {
  position: relative;
  clear: both;
}

.site-news-item:not(:last-child) {
  min-height: 85px;
  margin-bottom: 15px;
}

.site-news-item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -5px;
  width: calc(100% - 85px);
  height: 1px;
  background-color: #dddddd;
}

.site-news-item:hover a {
  color: #df8a13;
}

.site-news-item:hover .thumbnail {
  background-color: #df8a13;
  border-color: #df8a13;
}

.site-news-item__thumbnail {
  float: left;
  margin: 0 10px 10px 0;
  width: 75px;
}

.site-news-item__image {
  width: 100%;
}

.site-news-item__title {
  margin-bottom: 10px;
}

.site-news-item__link {
  display: -webkit-box;
  overflow: hidden;
  height: 50px;
  font-size: 1rem;
  line-height: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  -webkit-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
}

.site-news-item__date {
  text-align: right;
  color: #909090;
  font-size: 0.8rem;
}

.top-films__body {
  padding-left: 0;
  padding-right: 0;
}

.top-films__list {
  margin-bottom: 0;
}

.top-films__item {
  margin-left: -1px;
  margin-right: -1px;
  background-color: transparent;
  color: #165690 !important;
  padding-right: 55px;
}

.top-films__item:hover, .top-films__item:focus {
  background-color: #df8a13 !important;
  color: #ffffff !important;
  border-color: #df8a13;
}

.top-films__item:hover .badge, .top-films__item:focus .badge {
  background-color: #232323;
}

.top-films__item:first-child {
  border-radius: 0;
  border-top: none;
}

.top-films__item:last-child {
  border-radius: 0;
  border-bottom: none;
}

.top-films__badge {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.footer {
  background-color: #232323;
  color: #ffffff;
  padding-top: 45px;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer a {
  color: #737373;
}

.footer a:hover {
  color: #ffffff;
}

.footer-fifth {
  text-align: center;
  margin: 20px 0;
}

.footer-fifth a {
  color: #ffffff;
}

@media (min-width: 576px) {
  .header-logo__title {
    font-size: 3.5rem;
    letter-spacing: 0.33em;
    margin-right: -1rem;
  }
}

@media (min-width: 768px) {
  .navbar-inverse .navbar-nav > li > a {
    border-radius: 4px;
  }
  .navbar-left > li {
    margin: 5px 5px 5px 0;
  }
  .navbar-right > li {
    margin: 5px 0 5px 5px;
  }
}

@media (max-width: 767.8px) {
  .navbar-inverse .navbar-nav > li > a {
    text-align: center;
  }
  .navbar-left {
    margin-bottom: 0;
  }
  .navbar-right {
    margin-top: 0;
  }
}

@media (max-width: 575.8px) {
  .header-logo__title {
    letter-spacing: 0.2em;
    font-size: 2.5rem;
  }
}
